// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// Pet color styles
$pet-color-background: #FFFAF2;
$light-gray: #F4F4F4;
$pet-color-primary: #6CCFF6;
$pet-color-secondary: #FFC75F;
$pet-color-accent: #FF7F67;
$pet-color-font: #5A5A5A;
$pet-color-primary-dark: #3292C9;
$pet-color-secondary-dark: #E0A03F;
$pet-color-accent-dark: #D74A75;
$pet-color-font-dark: #333333;
