// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

// Define fonts for body and headers
$font-family-sans-serif: 'Plus Jakarta Sans', sans-serif;
$letter-spacing: -0.03em;

// $headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// _typography.scss

h1, .h1 { font-size: 20px; font-weight: 700; letter-spacing: $letter-spacing; }
h2, .h2 { font-size: 12px; font-weight: 700; letter-spacing: $letter-spacing; }
h3, .h3 { font-size: 11px; font-weight: 700; letter-spacing: $letter-spacing; }


body {
  font-family: $font-family-sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: $letter-spacing;
}
