<div class="error-container text-center mt-5 align-itens">
    <h4>OOPS!</h4>
    <h5>Não há mais pets disponíveis</h5>
    <%= image_tag 'error-icon.svg', alt: "error icon", class: "img-error" %>
</div>
