<h1>Pets#index</h1>
<p>Find me in app/views/pets/index.html.erb</p>
<div class="container mt-4">
  <h2 class="mb-3">Pets</h2>

  <div class="list-group">
    <% @pets.each do |pet| %>
      <a href="<%= pet_path(pet) %>" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <span><%= pet.name %></span>
        <span class="badge bg-primary">View</span>
      </a>
    <% end %>
  </div>
</div>
<%= link_to "New_pet", new_pet_path, class: "pet-btn-primary" %>
