<%# <h2 class="text-center">Find a Match for <%= @pet.name %>

<div class="swipe-container">
  <%= turbo_frame_tag "swipe_frame" do %>
    <% if @potential_pets.any? %>
      <%= render partial: "pets/swipe_pet", locals: { current_pet: @pet, potential_pet: @potential_pets.first } %>
    <% else %>
      <%= render 'pets/no-pets' %>
    <% end %>
  <% end %>
</div>
