<h2 class="text-center">Find a Match for <%= @pet.name %></h2>

<div class="swipe-container">
  <%= turbo_frame_tag "swipe_frame" do %>
    <% if @potential_pets.any? %>
      <%= render partial: "pets/swipe_pet", locals: { current_pet: @pet, potential_pet: @potential_pets.first } %>
    <% else %>
      <p class="text-center">No more pets available for swiping!</p>
    <% end %>
  <% end %>

<div class="footer-btn">
  <%= link_to 'Back to My Pets', pets_path, class: "pet-btn-accent" %>
</div>
