<div class="home_image" >
  <%= image_tag 'home_img.png', alt: "Tow dogs on the grass" %>
</div>

<div class="centered-container">
 <%= image_tag 'matchpetlogo.png', alt: "matchpet-icon"%>
</div>
 <%# <%= link_to user_session_path, class: "pet-btn-primary" %> %>
