<div class="home_image" >
  <%= image_tag 'home_img.png', alt: "Tow dogs on the grass" %>
</div>

<div class="centered-container">
 <%= image_tag 'matchpetlogo.png', alt: "matchpet-icon"%>
</div>

<div class="container-login-btn">
  <%= link_to "Login", '#', class: "pet-btn-primary" %>
</div>

<div class="container-cadastre-btn">
  <%= link_to "Criar uma conta", '#', class: "pet-btn-secondary" %>
</div>
