.chat-container {
  overflow-y: hidden;
  height: 72vh;
  margin: 0 10px;

  .chat-list {
    overflow-y: auto;
    height: 63vh;
  }
}

///////////////////////////////
///
///
//////////////////////////////

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 10px; // Space between items
}

.match-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.match-item {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  transition: background 0.3s ease;
  border: 1px solid #ddd;

  &:hover {
    background: #f9f9f9;
  }
}

.match-avatar {
  position: relative;
  width: 60px;
  height: 60px;
}

.split-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  border: 2px solid #ddd;

  .half {
    flex: 1;
    background-size: cover;
    background-position: center;
  }

  .left {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .right {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

.match-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 12px;

  strong {
    font-size: 16px;
    font-weight: bold;
  }

  p {
    text-align: start;
    margin: 2px 0 0;
    font-size: 14px;
    color: #777;
    overflow-x: auto ;
  }
}




.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .messages {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
  }
  .pet-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }

  .pet-message-sent {
    align-items: flex-end;
    text-align: right;
  }

  .pet-message-received {
    align-items: flex-start;
    text-align: left;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .pet-message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    word-wrap: break-word;
  }

  .pet-message-sent .pet-message-content {
    align-self: flex-end;
    background: #007bff;
    color: white;
  }

  .pet-message-received .pet-message-content {
    align-self: flex-start;
    background: #f1f1f1;
    color: black;
  }
}
