.select-container {
  height: 100dvh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  // margin-top: 10px;
}

.select-title {
  text-align: center;
  margin-top: 10px;
}

.select-pet-card {
  background: #fff;
  border-radius: 25px;
  border: 1px solid $pet-color-primary;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-50px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

  .select-pet-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .select-btn {
    font-size: 10px;
    background: #6A35CB;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #7c3aed;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.select-pet-card-plus {

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 100%;
  border-style: dashed;
  border-width: thick;
  border-color: #6935cb51;
  height: 93%;
  border-radius: 25px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-50px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}

.select-create-pet-container {
  text-align: center;
  margin-top: 20px;
}

.edit-user {
  float: left;
  margin: 30px 30px 0px 30px;
}

.edit-btn {
  font-size: 20px;
  text-align: right;
  align-items: 0px auto;
  float: right;
}
.matchpet-logo{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 65px;
}
