<div id="status-message" class="alert alert-info text-center my-3">
    Finding your current location...
</div>

<%# <div id="map" style="width: 100%; height: 100%; position: relative;"> %>

<div id="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>


  <div class="card shadow-sm map-overlay">
    <div class="card-body">
      <p class='d-none'>Coordinates:<span id="coordinates">Locating...</span></p>
      <p><strong>Address:</strong> <span id="address">Searching for address...</span></p>
      <div class="card-body">
        <button class="pet-btn-primary"><strong>Refresh</strong></button>
      </div>
    </div>
  </div>
</div>
